/* =========================================
   VARIABLES
========================================= */
:root {

  /* Tipografía */
  --font-base: Tahoma, sans-serif;
  --font-alt: Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5em;

  /* Colores */
  --color-bg-body: #d3d3d3;
  --color-bg-container: #f9f9f9;
  --color-bg-table-alt: #f4f4f4;
  --color-primary: #673AB7;
  --color-white: #ffffff;
  --color-border: #e8e8e8;

  /* Espaciado */
  --spacing-xs: 6px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 30px;

  /* Bordes */
  --radius-sm: 5px;

  /* Layout */
  --container-width: 1200px;
}

/* =========================================
   BASE
========================================= */

body#registros-page {
  font-family: 'IBM Plex Sans', Verdana, Helvetica, Sans-serif;
  color: #;
  background-color: #000;
  font-size: 14px;
  height: auto;
  padding: 10px 0;
  width: 1200px;
  margin: 20px;
  background-color: var(--body);
  background-image: var(--body-img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: var(--body-effect);
}

/* =========================================
   CONTAINER
========================================= */
.container-rec {
  margin: auto;
  background: var(--dbckg5);
  padding: 50px 40px;
  border: var(--border2);
  border-radius: 20px;
  corner-shape: scoop;
  font-size: var(--fs-body);
  font-family: var(--f-body);
  color: var(--text);
  display: flex;
}
.col-registros {
    width: stretch;
}
.col-filters {
  max-width: 260px;
}
.col-registros h2 {
    font-family: var(--f-deco);
    border-bottom: var(--border2);
}

/* =========================================
   FILTROS
========================================= */
#filtros {
  /* border: 1px solid var(--color-border); */
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
}

#filtros h3 {
  display: block;
  width: 100%;
  margin: var(--spacing-sm) var(--spacing-md);
}

#filtros>div {
  display: inline-block;
  vertical-align: top;
  margin: var(--spacing-sm);
}

#filtro-limpiar {
  display: block !important;
}

#btn-limpiar-filtros {
  border: 1px solid var(--color-border);
  padding: var(--spacing-sm) calc(var(--spacing-md) + 5px);
  border-radius: var(--radius-sm);
  background: var(--color-white);
  cursor: pointer;
}

/* Buscador */
#busqueda-texto {
  border: var(--border0);
  padding: var(--spacing-sm) var(--spacing-md);
  width: 70%;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  background: var(--dbckg0);
  margin-bottom: 15px;
}

/* =========================================
   TABS
========================================= */
.tabs {
  padding: var(--spacing-sm) 0;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.tab-btn {
  padding: var(--spacing-md);
  background: var(--dbckg2);
  color: var(--color-white);

  -
  width: 80px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-family: var(--f-mono2);
  text-transform: uppercase;
  border: var(--border0);
  font-size: var(--fs-smaller);
  flex: auto;
  margin: 0 5px;
}

.tab-btn:hover {
  opacity: 0.9;
}

.tab-btn.active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset;
  border: var(--border2);
}

/* =========================================
   TABLA
========================================= */

personaje {
    display: block;
    padding: 10px;
    border-bottom: var(--border0);
    text-align: center;
}

pjg {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent2);
    font-family: var(--f-titles);
    font-size: var(--fs-h6);
    margin-bottom: 15px;
    letter-spacing: 2px;
}